body {
  background-color: #572929;
}
p {
  font-size: 14px;
  color: crimson;
  padding: 0px 16px;
}

button {
  background-color: rgb(184, 78, 78);
  margin-right: 12px;
  font-size: 10px;
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid #000000;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #595979;
  border: 1px solid #000000;
}

.thoughts {
  /* background-color: #572929; */
  /* min-height: 100px; */
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: rgb(184, 78, 78);
  /* text-align: center; */
}
.container {
  margin-top: 70px;
  margin-left: 50px;
  background-color: #ffffff;
  padding: 4px;
  width: 300px;
  border-radius: 5px;
}

.new-comment-container {
  background-color: #ffffff;
  padding: 4px;
  width: 300px;
  border-radius: 5px;
}

.topic-content {
  color: black;
  margin-top: 8px;
}

.topic-comment {
  color: darkslategray;
  overflow-wrap: break-word;
}

.footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

textarea {
  width: 290px;
  resize: vertical;
}

.blog-author {
  color: rgb(0, 0, 0);
}

input {
  border: #000000 solid 1px;
  padding: 4px;
  margin-left: 6px;
  width: 248px;
  word-break: break-all;
}
