nav {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  font-size: 14px;
  height: 25px;
  align-items: center;
  justify-content: space-between;
}

p {
  font-size: 12px;
  color: crimson;
  padding: 0px 16px;
}

.user {
  display: flex;
}
.user-logged-in {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
